* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body {
    height: 100%;
    margin: 0;
  }

body {
  font-family: "Segoe UI", sans-serif;
  background: #1A2933;
  color: #FFF;
}
body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

/*
  NAV BAR
*/

ul#nav-bar {
    list-style: none;
    display: flex;
    font-size: x-large;
}

a.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 0px 11px;
}

a.nav-item:hover {
    color: #a69aff;
}

/*

*/
#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
}
#titlebar {
  padding: 4px;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
#titlebar {
    color: #FFF;
    border-bottom: #4d4d4d solid 1px;
}
#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}
#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}
#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
}
#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#window-controls .button {
  user-select: none;
  cursor: default;
  color: #BBB;
}
#window-controls .button:hover {
  background: rgba(255,255,255,0.2);
  color: #FFF;
}
#window-controls #min-button {
  grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2;
}
#window-controls #restore-button {
  display: none;
}
#window-controls #close-button {
  grid-column: 3;
}
#window-controls #close-button:hover {
  background: #E81123;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 0px 20px 20px 20px;
  overflow-y: auto;
}

hr.hr-norm {
    background-color: #5d5d5d;
    height: 1px;
    margin: 4px 0px;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

.col-2 {
    width: 50%;
    text-align: center;
    border: solid 2px #4c4c4c;
    padding: 4px;
}

div#top {
    display: flex;
}

table {
    text-align: left;
    width: 100%;
}

input {
    width: 100%;
    padding: 2px;
}

tr {
}

hr.vr {
    width: 2px;
    height: 124px;
    color: aliceblue;
}

div#bottom {
    display: block;
    position: absolute;
    bottom: 15px;
    border: solid 2px #4c4c4c;
    height: 62px;
    width: calc(95% - 2px);
}

div#options {
    display: flex;
    width: 100%;
    border-bottom: solid 2px #4c4c4c;
}

.input-group {
    display: flex;
    width: 100%;
    padding: 3px;
    height: 25px;
}

label {
    display: block;
    padding-left: 20px;
}

input.input-checkbox {
    width: 13px;
}

div#control-buttons {
    width: 100%;
    display: flex;
}

.ui-button {
    width: 100%;
    height: 21px;
    margin: 5px;
}

div#middle {
    margin: 5px 0px;
    border: solid 2px #4c4c4c;
    height: 100%;
}

div#console {
    height: calc(100vh - 295px);
}

ul#live-console {
    list-style: none;
    padding-left: 10px;
    overflow: auto;
    max-height: 100%;
    padding-bottom: 10px;
}

.custom-file {
    margin-bottom: 16px;
}

/*
  Servers Page Styling
*/

.servers-header {
    width: 100%;
    background-color: rgba(204, 204, 204, 0.3);
    padding: 4px;
    margin-bottom: 4px;
    padding-right: 40px;
}

.servers-list {
    width: 100%;
    /* background-color: rgba(115, 115, 115, 0.3); */
    margin-bottom: 4px;
}

span.server-join {
    float: right;
}

button.server-join-button {
    padding: 3px 6px;
    position: relative;
    top: -2px;
}

span.server-ping {
    float: right;
    width: 70px;
    border-left: 1px solid #fff;
    padding-left: 4px;
}

span.server-players {
    width: 70px;
    border-left: 1px solid #fff;
    padding-left: 4px;
}

span.server-location {
    float: left;
    width: 100px;
    padding-left: 4px;
}

span.server-map {
    float: left;
    width: 140px;
    padding-left: 4px;
    border-left: 1px solid #fff;
}

span.server-name {
    float: left;
    width: 320px;
    padding-left: 4px;
    border-left: 1px solid #fff;
}

.servers-item {
    margin: 2px 0px;
    padding: 4px;
    margin-bottom: 2px;
    background-color: rgba(115, 115, 115, 0.3);
}

.servers-item:hover {
    background-color: rgba(181, 181, 181, 0.25);
}

#Update-Button {
    float: right;
    position: fixed;
    right: 10px;
    color: chartreuse;
}
